@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit', sans-serif;
    background-color: #0d192b;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cards{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 320px 80px 80px 80px;
    grid-template-areas: "image" "text" "info" "footer";
    background-color: #14253d;
    color: white;
    border-radius: 10px;
    padding: 20px;
}
.card-image{
    grid-area: image;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.card-image img{
    width: 100%;
    border-radius: 5px;
}
.card-image:hover::before{
    content: "";
    width: 100%;
    height: 300px;
    border-radius: 5px;
    background-color: #00fff8;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
}
.card-image:hover::after{
    content: url("../images/icon-view.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
.card-text{
    grid-area: text;
    margin-bottom: 10px;
}
.card-text h3{
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.card-text h3:hover{
    color: #00fff8;
}
.card-text p{
    color: #6d7f97;
    font-size: 18px;
}
.card-info{
    grid-area: info;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-info i{
    position: relative;
    top: 2px;
}
.card-info .details span{
    color: #00fff8;
}
.card-info .date{
    color: #6d7f97;
}
.card-footer{
    grid-area: footer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid #6d7f97;
}
.card-footer img{
    width: 40px;
    margin-right: 20px;
    border: 2px solid white;
    border-radius: 50%;
}
.card-footer span{
    color: #6d7f97;
}
.card-footer a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}
.card-footer a:hover{
    color: #00fff8;
}